# SUPABASE
SUPABASE_URL=https://cvzgwsavuhwkjiucdiqd.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImN2emd3c2F2dWh3a2ppdWNkaXFkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzI5MDg0MDksImV4cCI6MjA4ODQ4NDQwOX0.oWuRdEixJfUG3-0A4vttTV3zJboto7ugb4JWbSjPrBw


# FIREBASE
FIREBASE_API_KEY=AIzaSyBjNHnGxjrGRjpSJxrt_gTXfilVFYhh9ao
FIREBASE_AUTH_DOMAIN=veci-proto.firebaseapp.com
FIREBASE_PROJECT_ID=veci-proto
FIREBASE_STORAGE_BUCKET=veci-proto.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=92164361567
FIREBASE_APP_ID=1:92164361567:android:a8e62d4e80e1ca9b733aea

# CLOUDFLARE
CLOUDFLARE_API_TOKEN=4d694b4ae49e64aa88024a0d603e2470476ef
CLOUDFLARE_ACCOUNT_ID=78514bff4df64c49b1c4cdcc0522128b
CLOUDFLARE_ZONE_ID=

#GITHUB
GITHUB_TOKEN:mi_token_falso_123.
GITHUB_USERNAME:josedavidpenadelgado2425
GITHUB_REPO:veci-prototype